.screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #d1f8ef;
    background-color: #3674b5;
    width: auto;
    height: calc(100vh - 4rem);
    padding: 2rem;
}

.screen h1 {
    margin: 0;
    font-weight: 700;
}

.header {
    padding: 1rem;
    height: auto;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.inputContainer input {
    width: 3rem;
    border-radius: 2px;
    border: 2px solid gray;
}
